.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 90px;
}

@media (max-width: 968px) {
  .main-content {
    padding-top: 70px;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding-top: 60px;
  }
}
